@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MaintainDeclarationPlan.CourseMessage.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.MaintainDeclarationPlan.CourseMessageGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>