@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ExportSubscriptionPlan.TeacherWholeData.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.ExportSubscriptionPlan.TeacherWholeDataGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>