{
    "RootNamespace": "TbMis",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=TbMis_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.TeacherWholeData",
                    "Identifier": "TeacherWholeData",
                    "Module": "FeedBackSubscriptionPlan",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Textbook",
                    "Identifier": "TextbookMessage",
                    "Module": "MaintainDeclarationPlan",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Course",
                    "Identifier": "CourseMessage",
                    "Module": "MaintainDeclarationPlan",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.StudentWholeData",
                    "Identifier": "StudentWholeData",
                    "Module": "FeedBackSubscriptionPlan",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Bookseller",
                    "Identifier": "Bookseller",
                    "Module": "FeedBackSubscriptionPlan",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.StudentDeclaration_Bookseller",
                    "Identifier": "StudentDeclarationBookseller",
                    "Module": "FeedBackSubscriptionPlan",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TeacherDeclaration_Bookseller",
                    "Identifier": "TeacherDeclarationBookseller",
                    "Module": "FeedBackSubscriptionPlan",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\TbMis\\TbMis.Web\\TbMis.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}