@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ExportSubscriptionPlan.Bookseller.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.ExportSubscriptionPlan.BooksellerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>