@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.TextBookInfo.Textbook.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.TextBookInfo.TextbookGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>