@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.IssuedDeclarationPlan.TeacherDeclarationBookseller.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.IssuedDeclarationPlan.TeacherDeclarationBooksellerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>