@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CourseInfo.Course.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.CourseInfo.CourseGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>