@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ExportSubscriptionPlan.StudentDeclarationBookseller.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.ExportSubscriptionPlan.StudentDeclarationBooksellerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>