@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ExportSubscriptionPlan.StudentWholeData.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.ExportSubscriptionPlan.StudentWholeDataGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>