@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.TextBookInfo.TextbookMessage.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TbMis.TextBookInfo.TextbookMessageGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>